@import "../../../vars.scss";
@import "../../../mixins.scss";

.UserContainer {
  width: 169px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .UserName {
    margin-bottom: 3px;

    color: $black;

    @include fontBase(16px, 700, 18px);
  }

  .UserProf {
    color: rgba($black, 0.7);

    font-size: 12px;
  }
}
