@import "../../../vars.scss";

.Nav {
  display: flex;
  justify-content: center;

  .Link {
    margin-right: 20px;

    color: rgba($color: $black, $alpha: 7);

    font-size: 12px;
    text-decoration: none;
    font-family: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Portfolios {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
