.ContentCenterHorisontal {
  display: flex;
  justify-content: center;
}

.ContentCenterVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  max-width: 100%;
  height: auto;

  display: block;

  z-index: 1;
}
