@import "../../../vars.scss";
@import "../../../mixins.scss";

.Footer {
  margin-top: 120px;
  padding: 16px 10px;

  background: $black;

  @media ($tablet) {
    height: 120px;
  }

  @media ($mobile-L) {
    height: 170px;
  }

  .Container {
    width: 100%;
    max-width: 1171px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media ($tablet) {
      height: 100%;

      flex-direction: column;
    }

    @media ($mobile-L) {
      flex-direction: column;
    }

    .Credits {
      display: flex;
      align-items: center;

      .Copyright {
        padding-right: 15px;
        border-right: 1.5px solid rgba($gray, 0.4);

        color: $gray-light;

        @include fontBase(14px, 300, 18px);

        @media ($mobile-M) {
          @include fontBase(12px, 300, 18px);
        }
      }

      .Social {
        display: flex;
        align-items: center;

        .Icon {
          width: 17px;
          height: 17px;

          margin-left: 15px;

          cursor: pointer;

          @media ($mobile-M) {
            width: 15px;
            height: 15px;

            margin-left: 13px;
          }
        }
      }
    }

    .Nav {
      display: flex;
      align-items: center;

      color: $gray-light;

      @media ($tablet) {
        height: 100%;
      }

      @media ($mobile-L) {
        height: 55%;

        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
