@import "../../../vars.scss";
@import "../../../mixins.scss";

.Intro {
  .Container {
    width: 100%;
    max-width: 1200px;
    height: 496px;

    position: relative;

    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid rgba($gray, 0.3);

    background: url("../../../assets/images/symbols.png") right bottom no-repeat;

    @media ($laptop) {
      height: 450px;

      background-size: 455px auto;
    }

    @media ($mobile-L) {
      height: auto;

      padding: 40px 0;

      background: none;
    }

    .Content {
      width: 50%;

      margin-top: 103px;

      @media ($mobile-L) {
        width: 100%;

        margin-top: 0;

        text-align: center;
      }

      .Subtitle {
        color: $black;

        @include fontBase(32px, 200, 53px);
      }

      .Title {
        color: $black;

        @include fontBase(42px, 700, 53px);
      }

      .Text {
        color: rgba($black, 0.7);

        font-size: 18px;
      }

      .Buttons {
        display: flex;
        justify-content: center;
        margin-top: 45px;
      }
    }

    .Photo {
      position: absolute;
      right: 0;

      @media ($laptop) {
        width: 400px;

        bottom: 0;
      }

      @media ($mobile-L) {
        display: none;
      }
    }
  }
}
