@import "../../vars.scss";

.Portfolio {
  width: 370px;
  height: 370px;

  margin: 15px;
  border-radius: 10px;

  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.4);

  overflow: hidden;
  transition: box-shadow linear 0.2s;

  &:hover {
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.4);
  }

  .Image {
    width: 100%;
    height: 300px;

    background: $gray;
  }

  .Content {
    padding: 15px 12px;

    .Category {
      margin-bottom: 7px;

      color: $black;

      font-size: 12px;
      text-transform: uppercase;
    }

    .ProjectContent {
      display: flex;
      justify-content: space-between;

      .Title {
        color: $black;

        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .Date {
        color: $black;

        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
