@import "../../vars.scss";
@import "../../mixins.scss";

.Portfolio {
  width: 370px;
  height: 370px;

  margin: 15px;
  border-radius: 10px;

  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.4);

  overflow: hidden;
  transition: box-shadow linear 0.2s;

  &:hover {
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.4);
  }

  @media ($tablet) {
    width: 300px;
    height: 300px;
  }

  @media ($tablet-small) {
    &:last-child {
      transform: translateX(-164px);
    }
  }

  .Image {
    width: 100%;
    height: 300px;

    background: $gray;

    @media ($tablet) {
      height: 240px;
    }
  }

  .Content {
    padding: 15px 12px;

    .Category {
      margin-bottom: 7px;

      color: $black;

      @include fontBase(12px, 300, 15px);
      text-transform: uppercase;
    }

    .ProjectContent {
      display: flex;
      justify-content: space-between;

      .Title {
        color: $black;

        @include fontBase(16px, 700, 19px);
        text-transform: uppercase;
      }

      .Date {
        color: $black;

        @include fontBase(16px, 700, 19px);
        text-transform: uppercase;
      }
    }
  }
}
