@import "../../../vars.scss";

.Modal {
  margin: auto;

  background-color: $white;

  z-index: 2000;
  overflow: auto;
}

.Large {
  width: 1200px;
  height: 95vh;
}

.Small {
  width: 100%;
  max-width: 900px;
  height: 676px;
}
