@import "../../../vars.scss";

.Modal {
  border: green solid;

  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  margin: auto;

  background-color: $white;

  z-index: 2000;
  overflow: auto;
  transform: translate(-50%, -50%);
}

.Large {
  width: 95%;
  max-width: 1200px;
  height: 95vh;
}

.Small {
  width: 100%;
  max-width: 900px;
  height: 676px;
}

.Middle {
  width: 100%;
  max-width: 900px;
  height: 770px;
}
