@import "../../../vars.scss";

.Close {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid $black;
  border-radius: 50%;

  background-color: $black;

  transition: transform 0.22s linear;

  &:hover {
    transform: rotate(90deg);
  }
}
