@import "../../../vars";
@import "../../../button";

.ButtonNormal {
  @extend %button-shared;

  border: 2px solid $black;
  padding: 11px 40px;

  color: $black;
  background-color: none;

  font-size: 14px;
  transition: background-color linear 0.2s;

  @media ($tablet) {
    padding: 7px 20px;

    font-size: 14px;
  }
}

.ButtonShadow {
  @extend %button-shared;

  display: inline-block;

  border: 0.7px solid $black;

  color: $black;

  font-size: 16px;
  transition: background-color linear 0.2s, box-shadow 0.2s linear;
  font-family: inherit;

  &:hover {
    box-shadow: 2px 2px 10px rgba(#000, $alpha: 2.7);
  }

  @media ($tablet) {
    padding: 7px 20px;

    font-size: 14px;
  }
}

.ButtonGray {
  @extend %button-shared;

  width: 146px;

  padding: 11px 0;
  border: 2px solid $gray-light;

  color: $gray-light;

  font-size: 14px;
  transition: background-color linear 0.2s;

  &:hover {
    background-color: $gray-light;
    color: $black;
  }

  @media ($tablet) {
    padding: 8px;

    font-size: 12px;
  }
}

.ButtonPrevious {
  @extend %button-switch-shared;

  padding-left: 25px;

  background: url("../../../assets//svg/back.svg") left no-repeat;
}

.ButtonNext {
  @extend %button-switch-shared;

  padding-right: 25px;

  background: url("../../../assets//svg/chevron.svg") right no-repeat;
}
