@import "../../../vars.scss";
@import "../../../mixins.scss";

.ModalProject {
  max-width: 1200px;
  height: 770px;

  display: flex;

  .Left {
    width: 65%;

    background-color: $gray;
  }

  .Right {
    width: 35%;

    position: relative;

    .Content {
      padding: 50px 0 11px 27px;

      .Title {
        color: $black;

        @include fontBase(32px, 700, 45px);
      }

      .SubTitle {
        display: flex;

        color: $gray;

        @include fontBase(18px, 300, 30px);

        .Category {
          height: 17px;

          position: relative;

          padding-right: 14.5px;

          &:after {
            content: "";
            width: 1px;
            height: 90%;

            position: absolute;
            bottom: -6px;
            right: 0;

            background-color: rgba($gray, 0.7);
          }
        }

        .Date {
          margin-left: 14.5px;
        }
      }

      .ClientTitle {
        margin-top: 33px;

        color: $black;

        @include fontBase(16px, 700, 22px);
      }

      .ClientSubTitle {
        color: $gray;

        @include fontBase(14px, 300, 22px);
      }

      .Text {
        margin-top: 33px;

        color: $gray;

        @include fontBase(12px, 300, 24px);
      }
    }

    .Buttons {
      width: 100%;

      position: absolute;
      bottom: 0;
      left: 0;

      display: flex;
      justify-content: space-between;
      padding: 21px 11px;
    }
  }
}
