.header {
  height: 100vh;
  padding: 1.2rem 0;
  border: red solid 1px;

  .content {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;

    .header_inner {
      border: green solid 1px;
      display: flex;
      justify-content: space-between;

      .UserContainer {
        display: flex;
      }
    }
  }
}
