@import "../../../vars.scss";
@import "../../../mixins.scss";

.ModalResume {
  width: 100%;
  max-width: 1200px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 20px;

  background: white;
  box-sizing: border-box;

  .Title {
    margin-bottom: 54px;

    color: $black;

    @include fontBase(45px, 700, 53px);
    text-align: center;

    @media ($mobile-L) {
      @include fontBase(35px, 700, 43px);
    }
  }

  .Buttons {
    display: flex;
    margin-bottom: 63px;
  }

  .Timeline {
    width: 768px;

    display: flex;

    @media ($mobile-L) {
      width: 95%;

      flex-direction: column;
      align-items: center;
    }

    .Experience {
      width: 384px;

      padding-right: 47px;
      margin-right: 47px;
      border-right: 1px solid $gray-light;

      text-align: right;

      @media ($tablet) {
        padding-left: 45px;
      }

      @media ($mobile-L) {
        width: 100%;

        padding: 0;
        margin: 0;
        border-right: none;

        text-align: center;
      }

      .Items {
      }
    }

    .Education {
      width: 300px;

      @media ($tablet) {
        padding-right: 45px;
      }

      @media ($mobile-L) {
        width: 95%;

        padding: 0;
        margin-top: 50px;

        text-align: center;
      }
    }

    .TimelineTitle {
      color: $black;

      @include fontBase(18px, 700, 25px);
      text-transform: uppercase;
    }
  }
}
