//color
$black: #2b2a2c;
$gray: #6a696b;
$gray-light: #8d8d8e;
$white: #efefef;
$review-bg: #332f30;
$input-focus-color: #00d3c8;

//responsive
$laptop-L: "max-width: 1366px";
$laptop: "max-width: 1024px";
$tablet: "max-width: 768px";
$mobile-L: "max-width: 414px";
$mobile-M: "max-width: 360px";
$mobile-S: "max-width: 320px";
